*
  padding: 0
  margin: 0
  box-sizing: border-box

html, body, #root, .App
  height: 100vh

.App
  background: #0c1727
  display: flex
  .cam-module
    position: relative
    .ok
      position: absolute
      width: 100%
      height: 100%
      background: rgba(65, 185, 112, 0.75)
      display: flex
      justify-content: center
      align-items: center
      z-index: 100
      border-radius: 20px
      color: white
      font-family: Headache, sans-serif
      font-size: 25px
      text-transform: uppercase
    .fail
      position: absolute
      width: 100%
      height: 100%
      background: rgba(185, 17, 17, 0.75)
      display: flex
      justify-content: center
      align-items: center
      z-index: 100
      border-radius: 20px
      color: white
      font-family: Headache, sans-serif
      font-size: 25px
      text-transform: uppercase
  #logo
    font-family: Headache, sans-serif
    font-size: 30px
    color: #41b970
    margin-bottom: 20px
  .content
    margin: auto
  .react-html5-camera-photo>img, .react-html5-camera-photo>video
    width: 500px
    overflow: hidden
    border-radius: 20px

@media screen and (max-width: 550px)
  .App
    .react-html5-camera-photo>img, .react-html5-camera-photo>video
      width: 280px